   <div class="userDetails container">
    <% if @user.full_name.nil? %>
     <h1><%= @user.first_name %> <%= @user.last_name %></h1>
     <% else %>
   <h1><%= @user.full_name %></h1>
   <img class="userProfile" src="<%= @user.profile_image %>" alt="User Profile Image">
    <% end %>
  </div>
