<!-- <div class="homeContent"> -->
  <div id="mainContainer" class="container">
    <div class="row">
     <div class="col-md-4">
      <% if current_user %>
      <h2 class="ontop">Hello <img src="<%= current_user.profile_image %>" alt=""> <%= current_user.first_name %>!</h2>
      <p class="ontop2">Welcome back! Create a game or join one!</p>
      <% else %>
      <h2 class="ontop3">Hello!</h2>
      <p class="ontop2">Welcome to PickupApp! A web app dedicated to helping pickup enthusiast organize and find games in their area.</br> Sign up to Create or join a game! </p>
      <% end %>
     <div class="welcomeDiv">
     </div>
   </div>
       <div id="map">

       </div>
  </div>
<!-- </div> -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>&callback=initMap"
  async defer></script>
