<h1>Games#index</h1>
<p>Find me in app/views/games/index.html.erb</p>


<% @games.each do |game| %>
  <br>
  <% if game.date > Date.today %>
    <%= game.user.first_name %>
    <%= game.players %>
    <%= game.date %>
  <% end %>
<% end %>
