@import "bootstrap-sprockets";
@import "bootstrap";

$black: black;
$white: white;
$font-family: 'Montserrat', sans-serif;


.background {
  background: image-url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding-bottom: 0;
  position: relative;
  content: '';
  font-family: $font-family;
}

/* Navigation */



/* Sign up page */

h1 {
  color: white;
}

.signUpDiv {
  color: $white;
  text-align: center;
  background-color: #333333;
  border-radius: 10%;
  font-family: $font-family;
  border: 1px solid black;
}

.signUpContainer {
  width: 25%;
}

.dateofbirth {
  color: black;
}

input {
  color: $black;
}

#map {
  height: 400px;
  overflow: visible;
  border-radius: 2%;
}

div.field {
  padding: 10px;
}

div.actions {
  padding: 10px;
}


/* log in */

.log_in {
  color: $white;
  text-align: center;
  background-color: #333333;
  border-radius: 10%;
  font-family: $font-family;
  border: 1px solid black;
}

.logInContainer {
  width: 25%;
}
