@import "bootstrap-sprockets";
@import "bootstrap";

$black: black;
$white: white;
$font-family: 'Montserrat', sans-serif;


.background {
  background: image-url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding-bottom: 0;
  position: relative;
  content: '';
  font-family: $font-family;
}

/* Home page */

.welcomeDiv {
  color: white;
  float: left;
  text-align: justify;
}

/* Navigation */

.navbar {
  background: #333333;
  border-color: transparent;
  font-size: 1.7em;
  color: white;
  padding: 10px;
}

.navbar-brand {
  font-size: 1.7em;
}

/* Sign up page */

h1 {
  color: white;
}

.signUpDiv {
  color: $white;
  border-radius: 10%;
  font-family: $font-family;
  text-align: center;
  background-color: #333333;
  border: 1px solid black;
}

.signUpContainer {
  width: 25%;
}

.dateofbirth {
  color: black;
}

input {
  color: $black;
}

#map {
  height: 500px;
  overflow: visible;
  border-radius: 2%;
  width: 600px;
  float: right;
}

div.field {
  padding: 10px;
}

div.actions {
  padding: 10px;
}


/* log in */

.log_in {
  color: $white;
  text-align: center;
  background-color: #333333;
  border-radius: 10%;
  font-family: $font-family;
  border: 1px solid black;
}

.logInContainer {
  width: 25%;
}

/* create game */

.field>label {
  color: white;
}

/* Game show page */

.gameDetails {
  color: white;
  text-align: center;
  background-color: black;
  width: 25%;
  align-content: center;
  margin: 0 auto;
  height: 200px;
}
