@import "bootstrap-sprockets";
@import "bootstrap";


.background {
  background: image-url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding-bottom: 0;
  position: relative;
  content: '';
}

/* Sign up page */

$black: black;
$white: white;

h1 {
  color: white;
}

.signUpDiv {
  color: $white;
  text-align: center;
  background-color: #333333;
  border-radius: 10%;
}

.signUpContainer {
  width: 25%;
}

.dateofbirth {
  color: black;
}

input {
  color: $black;
}
